**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
**/docker_build
Dockerfile
.dockerignore
node_modules
npm-debug.log
dist
docker_build