**/node_modules/
node_modules/**/*
node_modules
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
**/docker_build
Dockerfile
.dockerignore
npm-debug.log
dist
**/docker_build/
docker_build/**/*
docker_build