# Required
PORT=3000

# Optional
PINO_LOG_LEVEL=debug

# Secrets
TEST_FILE=/run/secrets/TEST_FILE

#database
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER_USERNAME=admin
POSTGRES_USER_PASSWORD=admin
POSTGRES_USER_SCHEMA=docker
POSTGRES_DATABASE=admin

PRIMARY_DOMAIN=localhost

# Metrics
METRICS_ENDPOINT_POSTGRES=https://auth.hemiron.com
METRICS_ENDPOINT_REDIS=https://auth.hemiron.com

# Authentication server URL
AUTH_SERVER_URL=https://auth.hemiron.com

#Scanner
SONAR_HOST_URL=http://sonarqube:9000
SONAR_SCANNER_OPTS='-Dsonar.projectKey=databases -Dsonar.exclusions=node_modules/**/*'
SONAR_LOGIN=sqp_54d2cb165ff72f654a238c7e7600d3e48b78caa6